.hide {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #434455;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}
address {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
  padding: 120px 0;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.accent {
  color: #4d5ae5;
}
.container {
  max-width: 320px;
  padding: 0 16px 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  @media screen and (min-width: 1158px) {
    .container {
      max-width: 1158px;
      padding: 0 15px 0 15px;
    }
  }
}
/* header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

@media only screen and (min-width: 768px) {
  .header-container {
    display: flex;
    align-items: center;
  }
}
.header-nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 40px;
}
@media only screen and (min-width: 1158px) {
  .nav-list {
    margin-right: 332px;
  }
}
@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}
.logo-name {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: auto;
  display: flex;
  padding: 16px 0;
}
@media screen and (min-width: 768px) {
  .logo-name {
    margin-right: 76px;
    flex-grow: 1;
  }
}

.studio {
  color: #2e2f42;
}

.contacts-item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
  display: block;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active.current {
  color: #404bbf;
  position: relative;
}
.active.current::after {
  content: "";
  display: block;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background: #404bbf;
  position: absolute;
  bottom: -1px;
  left: 0;
}

@media screen and (max-width: 767px) {
  .address {
    display: none;
  }
}
@media only screen and (max-width: 1157px) {
  .address {
    margin-left: auto;
  }
}
@media only screen and (min-width: 1158px) {
  .contacts-list {
    display: flex;
    gap: 40px;
  }
}
.contacts-list-item {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.active:hover,
.active:focus {
  color: #404bbf;
}

.contacts-item:hover,
.contacts-item:focus {
  color: #404bbf;
}
.contacts-list-item:hover,
.contacts-list-item:focus {
  color: #404bbf;
}
/* Hero section */

.hero-section {
  max-width: 320px;
  padding: 72px 0;
  margin: 0 auto;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-offices.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
@media only screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-officem.jpg);
  }
}
@media only screen and (min-width: 1158px) {
  .hero-section {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-officel.jpg);
  }
}

.hero {
  max-width: 216px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  font-size: 36px;
  line-height: 1.11;
  margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
  .hero {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    font-size: 56px;
  }
}
@media only screen and (min-width: 1158px) {
  .hero {
    margin-bottom: 48px;
  }
}
.btn {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  font-size: 16px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
/* Our Benefits */

.benefits {
  padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
  .benefits {
    padding: 120px 0;
  }
}
.benefits-icons-list {
  display: none;
}
@media only screen and (min-width: 1158px) {
  .benefits-icons-list {
    display: flex;
    margin: auto;
    gap: 24px;
  }
}

.benefits-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
  border-radius: 4px;
}

.benefits-list {
  display: flex;
  gap: 72px;
  flex-direction: column;
  /* gap: 24px; */
}
@media only screen and (min-width: 768px) {
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
  }
}
.benefits-item {
  width: 288px;
}
@media only screen and (min-width: 768px) {
  .benefits-item {
    width: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .benefits-item {
    width: calc((100% - 72px) / 4);
  }
}

.benefits-title {
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
}
@media only screen and (min-width: 768px) {
  .benefits-title {
    text-align: start;
  }
}
@media only screen and (min-width: 1158px) {
  .benefits-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}
.text-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 500;
}
@media only screen and (min-width: 1158px) {
  .text-item {
    font-weight: 400;
  }
}
/* Team section */

.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}
@media only screen and (min-width: 768px) {
  .team {
    padding: 120px 0;
  }
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 72px;
}
@media only screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
  }
}
.team-item {
  background-color: #ffffff;
  max-width: 264px;
  /* width: calc((100% - 72px) / 4); */
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-text {
  padding: 32px 0;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-role {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.team-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
  fill: #f4f4fd;
  padding: 8px;
}
.team-icons-list {
  width: 40px;
  height: 40px;
}

.link-icons {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-icons:hover,
.link-icons:focus {
  background-color: #404bbf;
}
/* Portfolio section */
.portfolio {
  padding: 120px 0;
}
.portfolio-name {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
@media only screen and (min-width: 768px) {
  .portfolio-list {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
  }
}
.portfolio-item {
  align-items: center;
  background: #fff;
  width: 288px;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
  .portfolio-item {
    width: 356px;
  }
}
@media only screen and (min-width: 1158px) {
  .portfolio-item {
    width: 360px;
  }
}
.portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  transform: translateY(100%);
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .overlay {
  transform: translateY(0);
}
.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* Footer */

.footer {
  background: #2e2f42;
  padding: 96px 0;
}

.footer-info {
  /* margin-right: 120px; */
}
.footer-media-list {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-studio {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
  align-items: flex-start;
}
.media-footer {
  margin-bottom: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icons {
  display: flex;
  gap: 16px;
}
.footer-icons-list {
  width: 40px;
  height: 40px;
}
.footer-link-icons {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link-icons:hover,
.footer-link-icons:focus {
  background-color: #31d0aa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form {
  /* margin-left: auto; */
}
.footer-form-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-form-list {
  display: flex;
  gap: 24px;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-lable {
}
.footer-input {
  width: 288px;
  /* width: 264px; */
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.footer-button {
  width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.footer-button:hover,
.footer-button:focus {
  border: none;
  background-color: #404bbf;
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-btn-icon {
  margin-left: 16px;
  fill: #ffffff;
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
.modal {
  width: 288px;
  min-height: 584px;
  padding: 72px 16px 16px 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-70%);
  opacity: 0;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    padding-left: 24px;
    padding-bottom: 24px;
    padding-right: 24px;
  }
}
.backdrop.is-open .modal {
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
}
.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  padding: 0;
  color: #111111;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
  border: none;
  background-color: #404bbf;
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-caption {
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form-field {
  margin-bottom: 8px;
}
.modal-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
  position: relative;
}
.modal-form-wrapper {
  position: relative;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  border-color: #4d5ae5;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-icon:focus {
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea:focus {
  border-color: #4d5ae5;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.textarea-form-field {
  margin-bottom: 16px;
}
.form-agreement {
  margin-bottom: 24px;
}
.form-input-privacy {
  color: #111111;
}

.form-label-privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.form-input-privacy:checked + .form-label-privacy > .form-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.form-span {
  width: 16px;
  height: 16px;
  margin-right: 8px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.form-href {
  color: #4d5ae5;
}

/* MOBILE MENU */

.mobile-menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;

  padding: 0;
  background-color: transparent;
  border: none;
}
@media only screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}
.mobile-menu-icon-btn {
  fill: #2f2f37;
}
@media not (hover: hover) {
  .mobile-menu-btn:active .mobile-menu-icon-btn {
    fill: #404bbf;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #f4f4fd;
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu.is-open {
  transform: translateX(0);
}
.mobile-menu .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 72px 16px 40px;
}
.mobile-menu .mobile-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  color: #111111;
}

.mobile-menu-nav {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: auto;
}

.mobile-menu-nav .mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-menu-contacts {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 48px;
}
.mobile-menu-link {
}
.mobile-menu-contacts .mobile-menu-item:not(:last-child) {
  margin-bottom: 24px;
}
.mobile-menu-contacts .mobile-menu-item:first-child .mobile-menu-link {
  color: #4d5ae5;
}
.mobile-menu-icons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
  fill: #f4f4fd;
}
